<div class="container mt-5">
    <div class="p-5 mb-1 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">TO Do List</h1>
            <p class="col-md-8 fs-4">Go through your entire to-do list.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let item of list">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{item.title}}</div>
                        ID: {{item.id}}.
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>